.csalogato {
	color: white;
	margin-bottom: 50px;
	text-align:center;
}
.csalogato2 {
	font-family: "Segoe UI";
	font-size: 20px;
	font-style: italic;
}
.csalogatopizza {
	max-width: 100%;
}